<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Web3Daily</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
  <meta name="keywords" content="Rebase blockchain 区块链 Bitcoin Ethereum 比特币 以太坊 数字货币 社区">
  <meta name="description" content="Rebase是一个极客组织，致力于帮助极客更好地利用科技创新，推动社会变革。">

  <link rel="stylesheet" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
  <script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<style type="text/css">
  .content-img-item {
    /* height: 180px; */
  }
</style>

<body class="">
  <nav>
    <div class="ui inverted large borderless fixed fluid menu column">
    </div>
  </nav>

  <div class="" style="height:5em">
  </div>

  <div class="ui two column grid">
    <div class="row">
      <div class="column">
        <div class="ui padded grid">
          <form class="ui form" action="/pow" method="post">

            <div class="field">
              <div class="ui left action input">
                <button class="ui teal icon button">Web3极客日报 #</button>
                <input type="number" value="" name="episode" placeholder="请从右侧获取本次序号" required>
              </div>
            </div>

            <div class="field">
              <select class="ui fluid dropdown" name="editor">
                <option value="nana">娜娜</option>
                <option value="rebecca">Rebecca</option>
                <option value="nicole">Nicole</option>
                <option value="jasmyn">Jasmyn</option>
                <option value="liuyi">刘一</option>
                <option value="ryan">黄岩Ryan</option>
                <option value="gala">gala</option>
                <option value="river">river</option>
                <option value="frozen">frozen</option>
                <option value="harry">harry</option>
                <option value="shooter">shooter</option>
              </select>
            </div>

            <h4 class="ui dividing header">日报1</h4>

            <div class="field">

              <div class="three fields">
                <div class="field">
                  <input type="text" name="author1" placeholder="作者" required>
                </div>

                <div class="field">
                  <input type="text" name="title1" placeholder="标题" required>
                </div>

                <div class="field">
                  <input type="text" name="url1" placeholder="链接" required>
                </div>
              </div>
            </div>

            <div class="field">
              <label>介绍</label>
              <textarea name="introduce1" rows="2"></textarea>
            </div>

            <h4 class="ui dividing header">日报2</h4>
            <div class="field">

              <div class="three fields">
                <div class="field">
                  <input type="text" name="author2" placeholder="作者" required>
                </div>

                <div class="field">
                  <input type="text" name="title2" placeholder="标题" required>
                </div>

                <div class="field">
                  <input type="text" name="url2" placeholder="链接" required>
                </div>
              </div>
            </div>

            <div class="field">
              <label>介绍</label>
              <textarea name="introduce2" rows="2"></textarea>
            </div>

            <h4 class="ui dividing header">日报3</h4>
            <div class="field">

              <div class="three fields">
                <div class="field">
                  <input type="text" name="author3" placeholder="作者" required>
                </div>

                <div class="field">
                  <input type="text" name="title3" placeholder="标题" required>
                </div>

                <div class="field">
                  <input type="text" name="url3" placeholder="链接" required>
                </div>
              </div>
            </div>

            <div class="field">
              <label>介绍</label>
              <textarea name="introduce3" rows="2"></textarea>
            </div>

            <button class="ui primary button" type="submit">发布</button>

          </form>
        </div>
      </div>

      <div class="column">
        <iframe src="https://rebase.network/posts/category/web3daily" frameborder="0" width="90%" height="600" title="Rebase">
        </iframe>
      </div>
    </div>

  </div>

  <script>

  </script>
</body>

</html>
